/* BODY SYLING */
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: white;
    min-height: 100%;
}

/* REMOVES SCROLL BAR FOR MOBILE MENU */
.body_no_scroll {
    overflow: hidden;
}

/* NAVIGATION BAR */
header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding:1rem;
    background-color: white;
}

.nav_list {
    display: flex;
    padding: 0 3vw;
}

.nav_pic{
    height: auto;
    left: 1rem;
    position: absolute;
    top: calc(0.3rem + 0.3vw);
    width: calc(120px + 1vw);
}

.nav_menu {
    display: flex;
    flex-direction: row;
    gap: 3vw;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav_list :hover {
    visibility: visible;
}

.nav_item {
    border-right: 1px solid #5b1012;
    color: #242020;
    font-size: calc(10px + 1vw);
    padding-right: 3vw;
    text-decoration: none;
}

.no_border {
    border-right:1px solid #fff;
    padding-right: 0;
}

.active_nav {
    text-decoration: underline;
    text-decoration-color: #44522b;
    text-decoration-thickness: 3px;
}

/* TABLET + MOBILE NAV MENU / BUTTON */
@media screen and (max-width: 1023px ){

    header {
        padding: 0;
        padding-bottom: 0.5rem;
       }

    .burger_menu {
        background-color:#242020;
        border-radius: 5px;
        position: absolute;
        height: 3px;
        top: 0.5rem;
        transition: all 0.2s ease-in-out;
        width: 25px;
    }

    .burger_menu::before, .burger_menu::after {
        background-color:#242020;
        border-radius: 5px;
        content: '';
        height: 3px;
        position: absolute;
        transition: all 0.2s ease-in-out;
        width: 30px;
    }

    .burger_menu::before {
        transform: translateY(-8px);
    }

    .burger_menu::after {
        transform: translateY(8px);
    }

    .burger_menu.open {
        transform: translateX(30px);
        background: transparent;
    }

    .burger_menu.open::before {
        transform: rotate(45deg) translate(-33px, 33px) ;
    }

    .burger_menu.open::after {
        transform: rotate(-45deg) translate(-33px, -33px);
    }

    /* make mobile menu take whole screen when open */
    .height_100 {  
        height: 100vh;
    }

    .mobile_menu_background {
        height: 100%;
        padding: 0;
        position: fixed;
        top: 0;
        visibility: hidden;
        width: 100%;
    }

    .mobile_menu_background.white {
        background-color: white;
        visibility: visible;
        z-index: 5;
    }

    .mobile_menu_wrapper {
        align-items: flex-start;
        cursor: default;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .nav_btn {
        cursor: pointer;
        height: 27px;
        position: absolute;
        right: 1rem;
        top:1rem;
        width: 30px;
        z-index: 15;
    }

    .nav_item {
        border-right: none;
        color: #242020;
        font-size: calc(30px + 1vw);
        white-space: nowrap;
    }

    .nav_list {
        z-index: 10;
    }

    .nav_list.menu_visible {
        margin: 0 auto;
        padding: 0;
    }

    .nav_menu {
        gap: calc(2rem + 1vw);
        visibility: hidden;
    }

    .nav_menu.mobile_open {
        flex-direction: column;
        visibility: visible;
    }

    .nav_menu.mobile_open .nav_item {
        border-right: none;
    }
}

/* HOME PAGE index.html */
.btn {
    background-color:rgba(152, 27, 30);
    border-color: #5b1012;
    border-radius:15px;
    border-style: solid;
    border-width: 3px;
    color: #FFF;
    display: flex;
    font-size: calc(10px + 1.5vw);
    font-weight:900;
    letter-spacing: 0.5px;
    margin: 0 auto;
    padding: 15px 15px;
    text-decoration: none;
    transition:0.5s;
    width: fit-content;
}

.btn:hover {
    background-color:rgba(152, 27, 30);
    border-color: #5b1012;
    box-shadow: 3px 3px rgba(152, 27, 30) ;
    color: #FFF;
    top: 1px;
}

.colour_div {
    background-color: #FFF;
    color: rgba(152, 27, 30);
    display: flex;
    flex-direction: column;
    height:fit-content;
    justify-content: center;
    padding: 2vw 0;
    position: relative;
    text-align: center;
}

.colour_div_wrapper {
    padding: 2rem;
}

.picture_div_1, .picture_div_2 {
    background-image: url("capitalprawns.jpg") ;
    height: 40vw;
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.picture_div_2 {
    background-image: url("worwonton.jpg");
}

.small_header {
    font-size: calc(10px + 1.5vw);
    background-color:rgba(44, 44, 44, 0.642);
    color: white;
    padding: 1rem 2rem;
}

.small_header_2 {
    font-size: calc(10px + 1.5vw);
    color: #455628;
    margin-top: 0;
}

/* MOBILE MAIN PAGE */
@media screen and (max-width: 767px) {

    .picture_div_1, .picture_div_2 {
        height: 400px;
    }
}

/* CONTACT PAGE contact.html */
form {
    color: #455628;
    display: flex;
}

input, textarea {
    border: 1px solid #999;
    border-radius: 5px;
    box-sizing: border-box;
    font: 1em sans-serif;
    padding: 1rem;
    resize: vertical;
    width: 100%;
}

input:focus, textarea:focus {
    border-color: #000;
}

label {
    display: block;
    font-size: 20px;
    padding: 1rem 0;
    text-align:left;
}

textarea {
    height: 5em;
    vertical-align: top;
}

.contact_header {
    color: #FFF;
    font-size: calc(18px + 1.5vw);
    line-height:calc(3rem + 1vw);
    padding: 20px;
}

.contact_info {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.contact_color_div {
    align-items: center;
    background-color:rgba(44, 44, 44, 0.642);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.contact_color_div_2 {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: space-evenly;
    padding: 2rem 6rem;
    text-align: center;
}

.contact_form_header {
    color: #242020;
    display: flex;
    font-size: calc(16px + 0.5vw);
    line-height: 2.5rem;
    text-align: left;
    width: 40%;
}

.contact_icons {
    font-size: calc(25px + 1.5vw);
    line-height: 3rem;
    padding-bottom: 20px;
}

.contact_line {
    border: 0;
    border-top: 2px solid #a23235;
    display: block;
    height: 1px;
    margin: 2em 0;
    padding: 0;
}

.contact_picture_div {
    background-image: url("wok.jpg") ;
    background-position: top;
    background-size:cover;
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: space-evenly;
    position: relative;
    text-align: center;
}

.contact_text {
    margin: 0;
}

.fa-instagram {
    color: #F56040;
}

.fa-facebook {
    color: #4267B2;
    padding-right: 7vw;
}

.form_button {
    background-color: #5b1012;
    border: none;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 20px;
}

.form_button_container {
    display: flex;
    justify-content: left;
    padding: 2rem 0;
}

.form_li {
    margin-top: 1em;
}

.form_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* TABLET + MOBILE CONTACT PAGE */
@media screen and (max-width: 1023px) {

    input, textarea {
        width: 100%;
    }

    .contact_color_div_2 {
        flex-direction: column;
        gap: 2rem;
        padding: 2rem 2rem;
    }
    
    .contact_form_header {
        width: 80%;
    }
}

/* LOCATION PAGE location.html */
iframe {
    width: 30vw;
    height:20vw;
    min-width: 320px;
    min-height: 203px;
 }

.location_div {
    background-color: rgba(0, 0, 0, 0);
    color: #242020;
    padding-bottom: 4rem;
}

.location_header p {
    font-size: calc(16px + 0.5vw);
    line-height:calc(2rem + 1vw);
    margin: 0;
    padding-top: 2vw;
}

.location_hr {
    border: 2px solid #5b1012;
    border-radius: 5px;
    margin-left: 0;
}

.location_title {
    font-size: calc(18px + 0.5vw);
    color: #44522b;
    font-weight: 600;
}

.location_year {
    align-items: center;
    color: #44522b;
    display: flex;
    font-size: calc(12px + 1.5vw);
    font-weight: 800;
    justify-content: center;
    gap: 2rem;
    padding-top: 4rem;
}

.text_logo {
    display: flex;
    height: auto;
    width: 20vw;
}

.vid_container {
    align-items:flex-end;
    display: flex;
    flex-direction: row;
    gap: calc(3rem + 7vw);
    padding: 5rem 10vw;
}

/* TABLET + MOBILE LOCATION PAGE */
@media screen and (max-width: 1023px) {

    .location_header p {
        font-size: 16px;
        padding-top: 2rem;
    }

    .location_title {
        font-size: 20px;
        text-align: center;
    }

    .location_year {
        padding: 1rem 1rem 0 1rem;
        font-size: 20px;
        text-align: center;
    }

    .vid_container {
        align-items: center;
        display: flex;
        flex-direction: column-reverse;
        gap: 2rem;
        padding:2rem;
    }
}

/* MENU SECTION menu.html */


/* by default hide all of the menu sections */
.appetizer, .beef, .chefspecial, .chickenduck, .chopsuey, .chowmein, .eggfuyung, .friedrice, .hotpot, .housespecialties, .pork, .seafood, .sideorder, .soup, .teppan, .vegetarian {
    display: none;
    visibility: hidden;
}

.menu_btn {
    background-color: white;
    border-color: rgba(36, 32, 32, 0.5);
    border-style: solid;
    border-width: 0 1px 1px 0;
    box-sizing: border-box;
    color: rgb(36, 32, 32);
    cursor: pointer;
    display: block;
    flex: 1 0 auto;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    max-width: 100%;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
}

.menu_nav {
    border-color: rgb(36, 32, 32, 0.5);
    border-style: solid;
    border-width: 1px 0 0 1px;
    display: flex;
    flex-flow:row wrap;
    margin: 20px;
    padding: 0;
}

.menu_nav_wrapper {
    padding: 2rem 20vw 0;
}

.menu_wrapper {
    width: 80%;
    margin: 0 auto;
    color: #242020;
    padding-bottom: 10rem;
}

.menu_title {
    color: #981b1e;
    font-size: calc(20px + 1.5vw);
    font-weight: 800;
    text-align: center;
    margin: 0;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.menu_section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5vw;
    row-gap: 3vw;
    align-items: center;
}

.dish {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.dish_name_container {
    display: flex;
    flex-direction: column;
}

.dish_name {
    font-weight: 800;
    font-size: 16px;
}

.dish_price {
    white-space: nowrap;
    font-size: 16px;
    padding-left: 1rem;
    text-align: right;
}

.chefspecial_wrapper {
    padding: 0 10vw;
}

.chefspecial_header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.chefspecial_title {
    color: #981b1e;
    font-size: calc(20px + 1.5vw);
    font-weight: 800;
    margin: 0;
    padding-top: 3vw;
}

.combos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.combo_meal {
    padding-top: 2rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.combo_meal ul {
    list-style: none;
    padding: 0;
    line-height: 3rem;
    font-size: 16px;
    font-weight: 600;
}

.combo_name {
    font-weight: 800;
    margin: 0;
}

.combo_price {
    font-size: 16px;
}

.set_dinners {
    padding: 5rem 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sideorder {
    padding: 0 10vw;
}

.sideorder_title{
    color: #981b1e;
    font-size: calc(20px + 1.5vw);
    font-weight: 800;
    margin: 0;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.sideorder_flex {
    display: flex;
    flex-direction: row;
}

.sideorder_item {
    font-size: 16px;
    font-weight: 800;
    line-height: 3rem;
    list-style: none;
    padding: 0;
    white-space: nowrap;
}

.sideorder_price {
    font-size: 16px;
    line-height: 3rem;
    list-style: none;
}

.sideorder_wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
}

/* changes the button colour to indicate the current menu section */
.active {
    color:white;
    background-color:#5b1012;
}

/* show the section of the menu corresponding to the current active button */
.visible {
    display: block;
    visibility: visible;
}



/* TABLET MENU PAGE */
@media screen and (max-width: 1023px) {

    br {
        display: none;
    }

    .dish {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: space-between;      
    }

    .dish_price {
        padding-left: 0;
    }

    .menu_body {
        padding-top:1rem;
    }

    .menu_btn {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .menu_nav {
        display: grid;
        grid-template-columns: repeat(8, 25%);
        overflow: auto;
    }

    .menu_nav_wrapper{
        padding: 2rem 5vw 0;
    }

    .menu_section {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* MOBILE MENU PAGE */
@media screen and (max-width: 767px ) {

    .dish_price {
        margin: 0;
     }

    .menu_nav {
        grid-template-columns: repeat(8, 100%);
    }

    .menu_section {
        align-items: stretch;
        column-gap: 2rem;
        grid-template-columns: repeat(1, 1fr);
    }

    .menu_title {
        text-align: left;
    }

    .menu_wrapper {
        display: flex;
        justify-content: flex-start;
    }
}

/* FOOTER SECTION */
footer {
    align-items: flex-start;
    background-color: #44522b;
    display: flex;
    gap: 3rem;
    justify-content: space-evenly;
    max-width: 100%;
    padding: 2rem 2rem;
}

.footer_info {
    align-items: flex-start;
    color: #FFF;
    display: flex;
    flex-direction: column;
    font-size:16px;
    text-align: center;
}

.location{
    margin-bottom: 3rem;
}

.footer_link {
    color: #FFF;
    text-decoration: underline;
}

/* MOBILE FOOTER SECTION */
@media screen and (max-width: 767px) {
    
    footer {
        align-items: center;
        flex-direction: column;
        gap: 2rem;
    }

    .footer_info {
        align-items: center;
    }
}




